* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}

/* header section*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 15px;
}

main {
  /*   */
  height: calc(100vh - 70px);
  display: flex;
  background-color: #f9f9f9;
}

/* Sidebar */
.side-bar {
  height: 100%;
  width: 240px;
  position: fixed;
  margin: 20px;
  background-color: white;
  overflow-y: hidden;
}




.nav-link {
    display: flex;
    align-items: center;
    padding: 12px 25px;
  }
  
 .nav-link span {
    margin-left: 15px;
  }
  
 .nav-link:hover {
    background: #e5e5e5;
    cursor: pointer;
  }
 
 .active {
    background: #e5e5e5;
 }



.btn-side-bar {
  width: 90%;
}


.side-bar hr {
    height: 1px;
    background-color: #e5e5e5;
    border: none;
    width: 90%;
}

.left {
  display: flex;
  align-items: center;
}

.left #menu {
  padding: 0 7px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .side-bar {
    display: none;
  }
}
